@font-face {
    font-family: "General style";
    src: local('Lack Regular'), url('Lack-Regular.woff') format('woff');
}

html{
    height: 100%;
}
body{
    color: #050505;
    padding: 0;
    font-family: "General style";
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: stretch;
    height: 100%;
    width: 100%;
    margin: 0;
}
#menu{
    position: relative;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 20% auto;
    align-content: stretch;
    justify-content: stretch;
    margin-bottom: 10px;
}
#content{
    position: relative;
    height: 88.9%;
    width: 100%;
    margin: 0 10px 0 10px;
    display: grid;
    grid-auto-flow: row;
}
.block{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    width: fit-content;
}
.iblock{
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}
.answer{
    font-size: 18px;
    word-wrap: normal;
}
table{
    background-color: black;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}
td.theader{
    height: fit-content;
    text-align: center;
    width: 25px;
    border-radius: 0;
}
.tcontent{
    border-radius: 0;
}
.A > .theader{
    border-radius: 10px 0 0 0;
}
.D > .theader{
    border-radius: 0 0 0 10px;
}
.A > .tcontent{
    border-radius: 0 10px 0 0;
}
.D > .tcontent{
    border-radius: 0 0 10px 0;
}
td{
    vertical-align: center;
}
.A{
    background-color: wheat;
}
.B{
    background-color: lightgreen;
}
.C{
    background-color: #ffff88;
}
.D{
    background-color: lightpink;
}
#archive > img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
}
td > img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    vertical-align: middle;
    margin: 2px 1px 2px 1px;
}
#qcontent{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-self: center;
}
.questions{
    position: relative;
    font-size: x-large;
    color: black;
}
h1{
    position: absolute;
    font-size: x-large;
}
div.t1{
    display: table;
    height: 100%;
    justify-self: center;
}
h1.title{
    font-family: "General style";
    width: fit-content;
    background: -webkit-linear-gradient(47deg, rgba(9,9,121,1), rgba(42,208,61,1));
    background-clip: unset;
    -webkit-background-clip: text;
    -moz-background-clip: content-box;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    justify-self: center;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}
.links{
    display: table;
    table-layout: auto;
    align-content: stretch;
}
.link{
    justify-self: stretch;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
a:-webkit-any-link{
    text-decoration: none;
    color: white;
}
a.link{
    color: white;
    text-decoration: none;
}
a.alink{
    /* font-family: "General style";
    width: fit-content;
    text-align: center;
    font-weight: 900;
    background: -webkit-linear-gradient(-47deg, rgba(9,9,121,1), rgba(42,208,61,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    justify-self: center;
    display: table-cell;
    margin: 0;
    vertical-align: middle; */
    color: white;
    text-decoration: underline 2px;
}
#infolink{
    color: black;
    text-decoration: underline blue 2px;
}
#ratinglink{
    color: black;
    text-decoration: underline red 2px;
}
#faqlink{
    color: black;
    text-decoration: underline purple 2px;
}
#buildlink{
    color: black;
    text-decoration: underline limegreen 2px;
}
#infoimg{
    max-width: 95%;
    height: auto;
}
#archive{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-items: flex-start;
}
#archive > p{
    margin: 2px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    background-size: cover;
}
td > p{
    margin: 2px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: solid black 2px;
    object-fit: cover;
    background-size: cover;
}
table#build > tbody > tr > td.tcontent{
    padding: 0;
    vertical-align: middle;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-self: center;
    min-height: 50px;
    max-height: 100%;
}
table#build > tbody > tr{
    height:fit-content;
}
#i1{
    background-image: url("img/1.jpeg");
}
#i2{
    background-image: url("img/2.jpg");
}
#i3{
    background-image: url("img/3.jpg");
}
#i4{
    background-image: url("img/4.jpg");
}
#i5{
    background-image: url("img/5.jpg");
}
#i6{
    background-image: url("img/6.jpg");
}
#i7{
    background-image: url("img/7.jpg");
}
#i8{
    background-image: url("img/8.jpg");
}
#i9{
    background-image: url("img/9.jpg");
}
#i10{
    background-image: url("img/10.png");
}
#i11{
    background-image: url("img/11.jpg");
}
#i12{
    background-image: url("img/12.jpg");
}
#i13{
    background-image: url("img/13.jpeg");
}
#i14{
    background-image: url("img/14.jpeg");
}
#i15{
    background-image: url("img/17.jpeg");
}
#i16{
    background-image: url("img/18.jpeg");
}
#i17{
    background-image: url("img/19.jpeg");
}
#i18{
    background-image: url("img/20.jpeg");
}
#i19{
    background-image: url("img/21.jpeg");
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
    h1.title{
        background: -webkit-linear-gradient(47deg, rgba(9,9,121,1), rgba(42,208,61,1));
        background-clip: unset;
        -webkit-background-clip: text;
        -moz-background-clip: content-box;
        -webkit-text-fill-color: transparent;
    }
}   
    /* Chrome, Safari, and also the Edge Browser and Firefox */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    h1.title{
        color: white;
    }
}
@media screen and (max-width: 680px){
    #titlel{
        display: none;
        width: 0;
    }
    .links > a.link{
        font-size: small;
    }
}
@media screen and (min-width: 681px){
    #titles{
        display: none;
        width: 0;
    }

}
@media screen and (max-height: 680px) {
    #menu{
        height: 20%
    }
}